html{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
canvas{
  left: 0; top: 0;
  border: none; 
  position: fixed; 
  background-color: black;
}
#menu{
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
  border: 1px;
  border-style: double;
  border-color: lightgrey;
}
#menu th{
  color: lightgrey;
}
#menu button{
  width: 100%;
}
#menu input{
  width: 120px;
  height: 20px;
}

#html_chat{
  color: white;
  position: absolute;
  bottom: 25px;

}
#html_chatInput{
  background-color:rgba(0, 0, 0, 1);
  color: white;
  position: absolute;
  bottom: 0px;
  height: 25px;
  border: 0px;
}
#html_chatDiv{
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  position: fixed;
  overflow: hidden;
  height: 200px;
  width: 200px;
  bottom: 10px;
  align-content: flex-end;
}
