canvas{
  left: 0; top: 0;
  border: none; 
  position: fixed; 
  background-color: gray;
}
#menu{
  position: fixed;
  background-color: brown;
}
#menu button{
  width: 150pt;
  background-color: maroon;
  color: gold;
}
